* {
    font-family: 'Nanum Gothic Coding', monospace;
}

:not(h1):not(h2):not(h3):not(h4):not(h5) {
    font-size: 1rem;
}

td.hljs-ln-line.hljs-ln-numbers {
    text-align: right;
    padding-right: 10px;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}